{%extends 'layout.html'%}
{%load static%}
{%block title%}
    FinNova | Loan Application
{%endblock%}

{%block scripts%}
    <script src="https://cdn.tailwindcss.com"></script>
{%endblock%}

{%block content%}
<div class="bg-[url('{%static 'img/Background.png'%}')] bg-cover bg-center bg-no-repeat min-h-screen flex items-center justify-center">
 <div class="w-full max-w-md bg-white p-8 rounded-[12px] shadow-lg">
        <div class="mb-6">
            <img src="{%static 'img/Logo.png'%}" alt="FinNova Logo" class="mx-auto h-16 mb-2">
            <h1 class="text-2xl font-bold text-center text-gray-700 mb-6">Loan Application - FinNova</h1>
        
        </div>
        <form id="loanForm" class="space-y-5 flex items-center justify-center flex-col" method="POST">
            {%csrf_token%}
            <div>
                <label for="loanAmount" class="font-semibold">Loan Amount</label>
                <input type="number" id="loanAmount" name="loan_amount"
                    class="w-full p-2.5 my-2 mb-5 border border-gray-300 rounded-lg" required>
            </div>
            <div>
                <label for="assets" class="font-semibold">Total Asset Value</label>
                <input type="number" id="assets" name="asset_value"
                    class="w-full p-2.5 my-2 mb-5 border border-gray-300 rounded-lg" required>
            </div>
            <div>
                <label for="incomeBracket" class="font-semibold">Income Bracket</label>
                <select name="income" id="incomeBracket" class="cursor-pointer">
                    <option value="" disabled selected>Select Income Bracket</option>
                    <option value="low">Less than Rs.12,00,000</option>
                    <option value="medium">Rs.12,00,000 to Rs.50,00,000</option>
                    <option value="high">More than Rs.50,00,000</option>
                </select>
            </div>

            <button type="submit"
                class="bg-blue-600 text-white px-5 py-3 rounded-lg font-bold hover:bg-blue-800 transition-colors duration-200">
                Submit Loan Request
            </button>

            <div
                class="mt-5 font-semibold {% if result.status == 'approved' %}text-green-600{% else %}text-red-600{% endif %}">
                {{ result.message }}
            </div>

        </form>
    </div>
</div>

{%endblock%}