{%extends 'layout.html'%}
{%load static%}
{%block title%}
    FinNova | Login
{%endblock%}

{%block content%}
 
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-50 md:h-screen lg:py-0">
     
        <div class="w-full bg-white rounded-lg shadow-xl md:mt-0 sm:max-w-md xl:p-0 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                    Login
                </h1>
                {% if form.non_field_errors %}
                <div class="text-rose-500">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <form class="space-y-4 md:space-y-6" method="post" action="{%url 'myApp:login'%}">
                    {% csrf_token %}
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 ">
                            
                            Username</label>
                        <input type="text" name="username" class="bg-gray-50 border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  " placeholder="Username" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  " required="">
                    </div>
                  
                    <button type="submit" class="w-full text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">Login</button>
                    <p class="text-sm font-light text-gray-500 ">
                        New to FinNova? <a href="#" class="font-medium text-slate-600 hover:underline "> Signup here</a>

                    </p>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400 mt-2">
                        <a href="{% url 'myApp:reset_password' %}" class="font-medium text-indigo-600 hover:underline dark:text-primary-500">Forgot Password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>

{%endblock%}
